@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#scheduler #schedule-header .slider-btn-list .btn-wrap, #scheduler #time-row .schedule-grid .time-btn-wrap, .card-btn .count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn {
  cursor: pointer;
  border: none;
  background-color: #484848;
  text-transform: capitalize;
  color: white;
  height: 52px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.card-btn:hover {
  background-color: #5295f6;
}

#scheduler #schedule-header, #scheduler #filter-btn {
  padding: 7px;
  width: 100%;
  height: 100%;
}
#scheduler #schedule-header .shadow, #scheduler #filter-btn .shadow {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  max-height: 72px;
  background-color: #edede9;
}
.card-btn {
  width: 100%;
  height: 100%;
  position: relative;
}
.card-btn p {
  text-align: left;
  margin-left: 10px;
}
.card-btn .count {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  font-size: 12px;
  line-height: 14px;
  color: black;
  font-weight: 500;
}
#scheduler #time-row .schedule-grid {
  display: flex;
  flex-flow: column wrap;
}
#scheduler #time-row .schedule-grid .time-btn-wrap {
  flex: 1;
}
#scheduler #time-row .schedule-grid .time-btn-card {
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 14px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#scheduler {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: "filter-btn schedule-header" 90px "time-row schedule-board" 1fr/140px 1fr;
  width: 100%;
  height: 100vh;
  background-color: #e9e9e9;
  column-gap: 3px;
}
#scheduler .time-column {
  width: 100%;
  height: 100%;
}
#scheduler #filter-btn,
#scheduler #schedule-header,
#scheduler #time-row {
  background-color: white;
}
#scheduler #filter-btn .shadow p {
  text-align: center !important;
  margin-left: -15px !important;
}
#scheduler #filter-btn .count {
  width: 19px !important;
  height: 19px !important;
}
#scheduler #schedule-header {
  padding: 7px 8px;
}
#scheduler #schedule-header .shadow {
  position: relative;
}
#scheduler #schedule-header #photographer-list {
  height: 100%;
}
#scheduler #schedule-header #photographer-list button {
  font-size: 14px;
}
#scheduler #schedule-header #photographer-list .slick-slide {
  margin-right: 15px;
}
#scheduler #schedule-header #photographer-list .slick-slide:last-child {
  margin-right: 0px;
}
#scheduler #schedule-header #photographer-list .slides-wrap,
#scheduler #schedule-header #photographer-list .slick-list,
#scheduler #schedule-header #photographer-list .slick-track {
  height: 100%;
}
#scheduler #schedule-header #photographer-list .slick-arrow {
  width: 75px;
}
#scheduler #schedule-header .slider-btn-list {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#scheduler #schedule-header .slider-btn-list .btn-wrap {
  width: 140px;
  height: 100%;
  position: relative;
  z-index: 50;
  background: linear-gradient(270deg, rgba(217, 217, 217, 0) 1.67%, #edede9 40.91%);
  justify-content: flex-start;
  margin-left: 10px;
  border-radius: 10px;
}
#scheduler #schedule-header .slider-btn-list button {
  background-color: #0b5ed7;
  width: 52px;
  height: 52px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 30px;
}
#scheduler #schedule-header .slider-btn-list button:hover {
  background-color: #0949a6;
}
#scheduler #schedule-header .slider-btn-list .next-btn-wrap {
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 10px;
  background: linear-gradient(270deg, #edede9 40.91%, rgba(217, 217, 217, 0) 101.67%);
}
#scheduler #time-row .schedule-grid {
  height: 100%;
}
#scheduler #time-row .schedule-grid .time-btn-wrap {
  border-bottom: 2px solid #e9e9e9;
}
#scheduler #time-row .schedule-grid .time-btn-wrap:last-child {
  border-bottom: none;
}
#scheduler #schedule-board {
  background-color: #f9f9f9;
}

/*# sourceMappingURL=style.css.map */
